<div id="cover"></div>

<!-- templateType B -->
<div class="slide active">
  <div class="content">
    <div class="t-type-a">
      <h1>簿記の世界へようこそ！！</h1>
      <h3>難しいというイメージがある人が多いとは思いますが、</h3>
      <h3>これから私たちと一緒に一つ一つ勉強して,</h3>
      <h3>一緒に簿記のスペシャリストを目指しましょう！</h3>
      <h3>本チャプターでは下記の損益計算書、貸借対照表を通して</h3>
      <h3>簿記とはどういったものか学んで行きましょう！</h3>
      <iframe src="http://localhost:3000/iframe/chapter001_1" frameborder="0" width="70%" height="80%"></iframe>
    </div>
  </div>

  <div class="change-slide arrow-left first"></div>
  <div class="change-slide arrow-right"></div>
</div>

<div class="slide">
  <div class="content">
    <div class="title">
      <h1>◎簿記とは…</h1>
    </div>
    <div class="t-type-b">
      <div class="text-content">
        <h3>簿記とは一言でいってしまうと、</h3>
        <h3>会社の経営成績と財政状態を表す為の一つの技術です。</h3>
      </div>
      <div class="plate-content">
        <div class="l-p-content">
          <p>いくら儲け？（なんか図が入る）</p>
        </div>
        <div class="r-p-content">
          <p>会社の財産は？（なんか図が入る）</p>
        </div>
      </div>
    </div>
  </div>

  <div class="change-slide arrow-left"></div>
  <div class="change-slide arrow-right"></div>
</div>

<div class="slide">
  <div class="content">
    <div class="title">
      <h1>◎簿記とは…</h1>
    </div>
    <div class="t-type-c">
      <div class="t-p-content">
        <div class="text-content">
          <h3>では、経営成績を表すには…</h3>
          <h3>損益計算書(Profit and Loss statement略してP/L)と呼ばれる書類で表します。</h3>
          <h3>左記、損益計算書（以降、P/Lとします。）の当期純利益150円が会社の経営成績としての儲けを表します。</h3>
        </div>
        <iframe src="http://localhost:3000/iframe/chapter001_2" frameborder="0" width="70%" height="80%"></iframe>
      </div>
    </div>
  </div>

  <div class="change-slide arrow-left"></div>
  <div class="change-slide arrow-right"></div>
</div>

<div class="slide">
  <div class="content">
    <div class="title">
      <h1>◎簿記とは…</h1>
    </div>
    <div class="t-type-c">
      <div class="t-p-content">
        <div class="text-content">
          <h3>次に、財政状態を表すには……</h3>
          <h3>貸借対照表(Balance Sheet略してB/S)と呼ばれる書類で表します。</h3>
          <h3>左記、貸借貸借対照表（以降、B/Sとします。）の合計12,300円が会社の財政状態としての総資産を表します。</h3>
        </div>
        <iframe src="http://localhost:3000/iframe/chapter001_3" frameborder="0" width="70%" height="80%"></iframe>
      </div>
    </div>
  </div>

  <div class="change-slide arrow-left"></div>
  <div class="change-slide arrow-right"></div>
</div>

<div class="slide">
  <div class="content">
    <div class="title">
      <h1>◎簿記とは…</h1>
    </div>
    <div class="enter">
      <h3>復習も兼ねて簡単な例題を解きましょう！</h3>
      <h3 class="btn-square">ENTER</h3>
    </div>
  </div>

  <div class="change-slide arrow-left"></div>
  <div class="change-slide arrow-right"></div>
</div>

<!-- スライドテンプレート -->
<!-- <div class="slide">
  <div class="content">
  6
  </div>

  <div class="change-slide arrow-left"></div>
  <div class="change-slide arrow-right"></div>
</div> -->
