<div id="cover"></div>

<div class="slide active">
  1
  <div class="change-slide arrow-left first"></div>
  <div class="change-slide arrow-right"></div>
</div>

<div class="slide">
  2
  <div class="change-slide arrow-left"></div>
  <div class="change-slide arrow-right"></div>
</div>

<div class="slide">
  3
  <div class="change-slide arrow-left"></div>
  <div class="change-slide arrow-right"></div>
</div>

<div class="slide">
  4
  <div class="change-slide arrow-left"></div>
  <div class="change-slide arrow-right"></div>
</div>

<div class="slide">
  5
  <div class="change-slide arrow-left"></div>
  <div class="change-slide arrow-right"></div>
</div>

<div class="slide">
  6
  <div class="change-slide arrow-left"></div>
  <div class="change-slide arrow-right"></div>
</div>
